<launch>
  <!-- Arguments -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="team" default="both"/>

  <arg name="total_robots" default="4"/>
  <arg name="robot_number" default="0"/>

  <include file="$(find capture_the_flag)/launch/slam.launch" if="$(eval arg('team') in ('both', 1))">
       <arg name="model" value="$(arg model)"/>
       <arg name="slam_methods" value="$(arg slam_methods)"/>
       <arg name="configuration_basename" value="$(arg configuration_basename)"/>

       <arg name="robot_team" value="1"/>
       <arg name="robot_number" value="$(arg robot_number)"/>
  </include>
  <include file="$(find capture_the_flag)/launch/slam.launch" if="$(eval arg('team') in ('both', 2))">
       <arg name="model" value="$(arg model)"/>
       <arg name="slam_methods" value="$(arg slam_methods)"/>
       <arg name="configuration_basename" value="$(arg configuration_basename)"/>

       <arg name="robot_team" value="2"/>
       <arg name="robot_number" value="$(arg robot_number)"/>
  </include>

  <include file="$(find capture_the_flag)/launch/slam_all.launch" if="$(eval arg('total_robots') > arg('robot_number') + 1)">
       <arg name="robot_number" value="$(eval arg('robot_number') + 1)"/>
       <arg name="total_robots" value="$(arg total_robots)"/>
       <arg name="team" value="$(arg team)"/>

       <arg name="model" value="$(arg model)"/>
       <arg name="slam_methods" value="$(arg slam_methods)"/>
       <arg name="configuration_basename" value="$(arg configuration_basename)"/>
   </include>

</launch>
